/* Make the app fullscreen and remove the default margin around the body. */

body {
    margin: 0 !important;
}

canvas {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
}

#help-overlay {
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    font-family: Helvetica, sans-serif;
    background-color: #000000aa;
    /* Additional styling for the overlay */
}